:root {
    --background-color: rgb(28, 11, 71);
    --primary-text-color: rgb(176, 32, 70);
    --square-color: rgb(113, 17, 79);
    --square-hover-color: pink;
    --secondary-text-color: white;

    --marker-color: white;
    --marker-color-hover: black;
}

@font-face {
    font-family: myFont;
    src: url(./fonts/crossed_out/Crossed\ Out.ttf) format('truetype');
  }

body {
    background-color: var(--background-color);
    font-family: myFont, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--secondary-text-color, white);
}

h1 {
    font-size: 4rem;
    color: var(--primary-text-color);
}

.during-game {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 32px;
    display: none;
}

.board {
    height: 550px;
    width: 550px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    background-color: var(--square-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--marker-color);
    font-size: 7rem;
}

.square:hover {
    background-color: var(--square-hover-color);
    color: var(--marker-color-hover)
}

#s1, #s4, #s7 {
    border-right: 4px solid var(--background-color);
    border-left: 4px solid var(--background-color);
}

#s3, #s4, #s5 {
    border-top: 4px solid var(--background-color);
    border-bottom: 4px solid var(--background-color);
}

.player-names, .setup {
    display: flex;
    gap: 255px;
    margin-bottom: 32px;
}

.player-input, .ai-input {
    display: flex;
    gap: 20px;
    align-items: center;
}

.ai-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

.before-game-player, .before-game-ai {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: none;
}

.end-game-modal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 12px;
    font-size: 3rem;
    background-color: goldenrod;
    border-radius: 24px;
    display: none;
}

.end-game-modal button {
    padding: 12px;
    border: none;
    border-radius: 24px;
    font-size: 16px;
}

.end-game-modal button:hover {
    font-size: 18px;
    background-color: rgb(226, 226, 222);
}

.ai-or-p2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.choice-title {
    margin-top: 64px;
    font-size: 2rem;
}


.or {
    font-size: 1.5rem;
}

.ai, .p2 {
    font-size: 3rem;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    padding: 3px 8px;
    border-radius: 16px;
}

.ai:hover, .p2:hover {
    font-size: 3.7rem;
    margin: 0px -12px -16px -2px;
}